.Post {
  min-height: 100px;
  display: flex;
  flex-direction: column;

  .top-area {
    width: 100%;
    display: flex;
    flex-direction: row;

    .user-area {
      padding: 15px;
      display: flex;
      flex-grow: 1;

      img {
        margin-right: 10px;
        border-radius: 50px;
      }
      
      .name-time-area {
        display: flex;
        flex-direction: column;

        p {
          margin: 0;
          text-align: left;
        }

        .author {
          color: #ff7f50;
          font-size: 20px;
        }

        .written-time {
          color: #adb5bd;
          font-size: 12px;
        }
      }
    }

    .button-area {
      padding-top: 15px;
      display: flex;
      color: #ff7f50;
      font-size: 14px;

      .button {
        height: 15px;
        margin-right: 15px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ff7f50;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;

        p {
          margin: 0 0 0 2px;
        }
      }

      .button:hover {
        color: white;
        background: #ff7f50;
        transition-duration: 0.1s;
      }
    }
  }

  .content-area {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      margin: 0;
      font-size: 28px;
    }

    p {
      margin: 10px 0;
      color: gray;
      text-align: left;
    }

    .bottom-area {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .show-detail-label {
        flex-grow: 1;
      }

      .tag-area {
        display: flex;
        list-style: none;

        .Tag {
          font-size: 14px;
        }

        // li {
        //   border: 1px solid grey;
        //   border-radius: 10px;
        //   padding: 5px;
        //   color: grey;
        //   font-size: 12px;
        //   font-weight: 100;
        //   margin-right: 3px;
        //   cursor: pointer;
        // }
      }
    }
  }

  .divider {
    height: 1px;
    background: gainsboro;
  }

  @media (max-width: 300px) {
    .top-area {
      flex-direction: column;
  
      .button-area {
        justify-content: flex-end;
      }
    }

    .content-area {
      .bottom-area {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}