.TagTebItem {
  width: 150px;
  display: flex;
  flex-direction: column;
  color: #D3D3D3;
  cursor: pointer;
  user-select: none;

  .content-area {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;

    .label {
      margin: 0;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.TagTebItem.active {
  color: #ff7f50;
}

.TagTebItem.first {
  .content-area {
    // grid-template-columns: 100%;

    .icon {
      display: none;
    }
  }
}