@import '../lib/variables';

.Home {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .main-area {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;

    .feed-area {
      display: flex;
      flex-direction: column;
    }

    .side-area {
      display: flex;
      flex-direction: column;
    }

    @include xxl {
      width: 1200px;
      flex-direction: row;

      .feed-area {
        width: 950px;
      }
    }
    @include xl {
      width: 1200px;
      flex-direction: row;

      .feed-area {
        width: 950px;
      }
    }
    @include lg {
      width: 900px;
      flex-direction: row;
      
      .feed-area {
        width: 712px;
      }
    }
    @include md {
      width: 700px;
      flex-direction: row;

      .feed-area {
        width: 554px;
      }
    }
  }
}