@import '../lib/variables';

.Home {
  .main-area {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;

    .feed-area {
      display: flex;
      width: 70%;
      flex-direction: column;
    }

    .side-area {
      display: flex;
      width: 30%;
      flex-direction: column;
    }
  }
  
  @include xxl {
    .main-area {
      width: 1200px;
      flex-direction: row;
    }
  }

  @include xl {
    .main-area {
      width: 1200px;
      flex-direction: row;
    }
  }

  @include lg {
    .main-area {
      width: 900px;
      flex-direction: row;
    }
  }

  @include md {
    .main-area {
      width: 700px;
      flex-direction: row;
    }
  }

  @include sm {
    .main-area {
      width: 100%;

      .feed-area {
        width: 100%;
      }
  
      .side-area {
        width: 100%;
      }
    }
  }
}