@import '../lib/variables';

.PostPage {
  .inner-area {
    margin-top: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: 20px;
    line-height: 1.4em;
    text-align: left;

    p {
      margin: 0;
    }

    .content {
      text-align: left;
      line-height: 1.5em;
      white-space: pre-wrap;
    }

    .divider {
      width: 100%;
      border: 1px solid gainsboro;
      background-color: gainsboro;
    }

    .tag-area {
      margin-top: 10px;
    }

    .comment-area {
      padding-bottom: 30px;

      .label {
        margin-top: 30px;
        margin-left: 5px;
      }

      .CommentWriter {
        margin-bottom: 30px;
      }
  
      .Comment {
        margin-bottom: 30px;
      }
    }
  }

  @include xxl {
    .inner-area {
      width: 1200px;
    }
  }
  @include xl {
    .inner-area {
      width: 1200px;
    }
  }
  @include lg {
    .inner-area {
      width: 900px;
    }
  }
  @include md {
    .inner-area {
      width: 700px;
    }
  }
  @include sm {
    .inner-area {
      width: 500px;
    }
  }
  @media (max-width: #{576px - 1px}) {
    .inner-area {
      width: calc(100% - 30px);
    }
  }
}