@import '../../lib/variables';

.PostTitleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #333333;
  text-align: left;

  .title-area {
    margin-bottom: 30px;
    // padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title-label {
      font-size: 50px;
      margin: 30px 0 0 0;
    }

    .author-area {
      margin-top: 20px;
      display: flex;

      img {
        border-radius: 50px;
        object-fit: cover;
      }

      p {
        font-size: 16px;
        margin: 0;
      }

      .name-time-area {
        margin: 10px 0 0 10px;

        .nickname {
          font-size: 20px;
        }

        .written-time {
          color: gray;
          font-size: 14px;
        }
      }
    }
  }

  @include xxl {
    .title-area {
      width: 1200px;
    }
  }
  @include xl {
    .title-area {
      width: 1200px;
    }
  }
  @include lg {
    .title-area {
      width: 900px;
    }
  }
  @include md {
    .title-area {
      width: 700px;
    }
  }
  @include sm {
    .title-area {
      width: 500px;
    }
  }
  @media (max-width: #{576px - 1px}) {
    .title-area {
      width: calc(100% - 60px);
    }
  }
}