@import '../../lib/variables';

.UserTitleBar {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;

  .user-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-icon {
      margin: 25px 0 15px 0;
      width: 75px;
      height: 75px;
      border-radius: 50px;
      object-fit: cover;
    }

    .nickname {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .introduce {
      margin: 5px 0 0 0;
    }

    .edit-button {
      margin-bottom: 15px;
      align-self: flex-end;

      .Button {
        height: 30px;
        margin: 10px 15px 0 15px;
      }
    }
  }

  @include xxl {
    .user-area {
      width: 1200px;
    }
  }
  @include xl {
    .user-area {
      width: 1200px;
    }
  }
  @include lg {
    .user-area {
      width: 900px;
    }
  }
  @include md {
    .user-area {
      width: 700px;
    }
  }
  @include sm {
    .user-area {
      width: 500px;
    }
  }
  @media (max-width: #{576px - 1px}) {
    .user-area {
      width: 100%;
    }
  }
}