.Comment {
  width: 100%;
  border: 1px solid hsl(222, 9%, 78%);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.4em;

  .content-area {
    padding: 20px;
    border-bottom: 1px solid hsl(222, 9%, 78%);
  }

  .bottom-area {
    padding: 10px 20px 10px 20px;
    display: flex;
    background: #F3F3F3;

    img {
      border-radius: 50px;
      object-fit: cover;
    }

    p {
      padding: 7px 0 0 10px;
    }

    .nickname {
      color: #ff7f50;
    }

    .written-time {
      color: #adb5bd;
      font-size: 12px;
    }
  }
}