.Comment {
  width: 100%;
  border: 1px solid hsl(222, 9%, 78%);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.4em;

  .Modal {
    width: 400px;

    .Button {
      margin-left: 15px;
      width: 50px;
      height: 30px;
    }
  }

  .content-area {
    padding: 20px;
    border-bottom: 1px solid hsl(222, 9%, 78%);
  }

  .bottom-area {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    background: #F3F3F3;

    img {
      border-radius: 50px;
      object-fit: cover;
    }

    p {
      padding: 0 0 0 10px;
    }

    .nickname {
      color: #ff7f50;
    }

    .written-time {
      color: #adb5bd;
      font-size: 12px;
    }

    .right-area {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      .Dropdown {
        cursor: pointer;

        .Dropdown-btn {
          margin: 5px;
          padding: 5px;
          border-radius: 50px;
        }

        .Dropdown-menu {
          top: 20px;
          left: 20px;
          min-width: 50px;

          .Dropdown-item {
            padding: 8px;
          }
        }
      }

      .Dropdown:hover {
        .Dropdown-btn {
          background-color: gray;
          transition: all 0.3s;
        }
      }
    }
  }
}