.Button {
  font-family: inherit;
  font-size: 15px;
  border: 0;
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  transition: background-color 0.1s;
}

.Button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  transition: box-shadow 0.1s;
}

.Button.primary {
  color: white;
  background: #FA8072;
}

.Button.primary:hover {
  background: #E6766A;
}

.Button.secondary {
  background: #ececec;
}

.Button.secondary:hover {
  background: gainsboro;
}

.Button.skyblue {
  background: skyblue;
}

.Button.skyblue:hover {
  background: #6bbfe0;
}