@import '../lib/variables';

.NavBar {
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    width: 400px;
    padding: 15px;

    .nav-logo {
      color: #FA8072;
      font-weight: bold;
      user-select: none;
    }

    .nav-items {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      a {
        padding-left: 15px;
        text-decoration: none;
        color: #ADB5BD;
        user-select: none;
      }

      a:hover {
        color: #343A40;
        transition-duration: 0.5s;
      }

      a.active {
        color: black;
      }
    }

    @include xxl {
      width: 1200px;
    }
    @include xl {
      width: 1200px;
    }
    @include lg {
      width: 900px;
    }
    @include md {
      width: 700px;
    }
    @include sm {
      width: 500px;
    }
    @media (max-width: 380px) {
      display: flex;
      flex-direction: column;

      .nav-logo {
        align-self: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;
      }

      .nav-items {
        flex-direction: column;

        a {
          padding: 0 0 5px 0;
        }
      }
    }
  }
}