.SearchBar {
  width: 95%;
  height: 50px;
  margin: 15px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #EFF3F4;
  border: 1px solid white;
  border-radius: 50px;

  input {
    width: 100%;
    height: 70%;
    margin-right: 10px;
    border: none;
    background: #EFF3F4;
  }

  input:focus {
    outline: none;
  }

  .search-button {
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
  }

  .search-button:active {
    background: #C2C5CC;
    transition: all 0.1s;
  }
}

.SearchBar.active {
  color: black;
  background: white;
  border: 1px solid #ff7f50;

  input {
    background: white;
  }
}